@using miraKLS.BusinessFlow
@using miraKLS.BusinessFlow.Metadata
@using System.Collections
@using MongoDB.Bson
@model IList<Form>

@{
	Form selectedForm = ViewData["SelectedForm"] as Form;
}

<h2>Forms</h2>
<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Description</th>
			<th colspan="2"></th>
		</tr>
	</thead>
	<tbody>
@foreach(Form form in Model){
		<tr>
			<td>@Html.ActionLink(form.Name,"Index",new{Id = form.Name})</td>
			<td>@form.Description</td>
			<td>@Html.ActionLink("Preview","Preview",new{Id = form.Name})</td>
			<td>@Html.ActionLink("Delete","Delete",new{Id = form.Name})</td>
		</tr>
}
	</tbody>
</table>

<h3>Add/Modify Form</h3>
@using(Html.BeginForm("Save","Form",FormMethod.Post)){
	<table>
		<tbody>
			<tr>
				<td>Name</td><td>@Html.TextBox("formMD.Name",selectedForm != null && selectedForm.Name != null? selectedForm.Name:string.Empty)</td>
			</tr>
			<tr>
				<td>Description</td><td>@Html.TextBox("formMD.Description",selectedForm != null && selectedForm.Description!= null?selectedForm.Description:string.Empty)</td>
			</tr>
		</tbody>
	</table>
	<button type="submit">Save</button>
	Html.EndForm();
}

@if(selectedForm != null){
<h3>Contents</h3>
	using(Html.BeginForm("ModifyContent","Form",FormMethod.Post)){
		@Html.Hidden("formId",selectedForm.Name)
		<select name="fieldId">
			@foreach(Field field in DBHelper.GetInstance().FieldsCollection().FindAllAs<Field>()){
				<option value="@field.Name">@field.Name</option>
			}
		</select>
		@Html.Hidden("contentAction",ContentAction.Add)
		<button type="submit">Add</button>
		Html.EndForm();
	}
	int x = 0;
	int last = selectedForm.Contents.Count - 1;
	<table>
		<thead>
			<tr>
				<th>Field</th>
				<th colspan="3">Actions</th>				
			</tr>
		</thead>
		<tbody>
	@foreach(Field field in selectedForm.GetContents()){
			<tr>
				<td>@field.Name</td>
				<td>
				@if(x > 0){			
					@Html.ActionLink("^","ModifyContent",new {formId=selectedForm.Name,fieldId=field.Name,contentAction=ContentAction.Up})				
				}
				</td>
				<td>
				@if(x < last){
					@Html.ActionLink("v","ModifyContent",new {formId=selectedForm.Name,fieldId=field.Name,contentAction=ContentAction.Down})
				}				
				@{x++;}
				</td>
				<td>
				@Html.ActionLink("x","ModifyContent",new {formId=selectedForm.Name,fieldId=field.Name,contentAction=ContentAction.Remove})
				</td>				
			</tr>
	}
		</tbody>
	</table>
}
