@using miraKLS.BusinessFlow
@using miraKLS.BusinessFlow.Metadata
@using System.Collections
@using System.Collections.Generic
@using MongoDB.Bson

@model Form
<h2>Form Preview - @Model.Name</h2>
@if(Model.Contents.Count > 0) {
    using(Html.BeginForm("Process","Form",FormMethod.Post)){
    @Html.Hidden("Form",Model.Name)
	<table>
		<tr>
			<th>Field Name</th><th>Value</th>
		</tr>
	@foreach(Field field in Model.GetContents().ToList()) {
		<tr>
			<td>@field.Description</td>
			<td>@Html.Editor(field.Name)</td>
		</tr>
	}
		<tr>
			<td></td>
			<td><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></td>
		</tr>
	</table>
	Html.EndForm();
	}
	<style type="text/css">
	.previewContainer{
		
	}
	.previewBox{
		width:300px;
		display:inline-block;
	}
	.previewBox > div, .previewBox > div > div{
		border:1px black solid;
	}
	.previewBox > div > div > div{
		display: inline-block;
	}
	</style>
	<div class="previewContainer">
	@if(ViewData.ContainsKey("Documents") && ViewData["Documents"] != null)
	{
		foreach(BsonDocument doc in (IList)ViewData["Documents"])
		{
			ViewData["CurrentDocument"] = doc;
			
			@Html.Partial("FormDataPreview",ViewData);
		}
	}
	</div>
}
@Html.ActionLink("Back","Index","Form")